CONFIG_PROJECT_NAME="Tuya-Open-Preview"
CONFIG_PROJECT_VERSION="0.1.0"
CONFIG_TUYA_PRODUCT_ID="u9bu0onwwwj6eyov"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_TUYA_T5AI_CORE=y
CONFIG_TUYA_T5AI_BOARD_EX_MODULE_NONE=y
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BUTTION_STACK_SIZE=4096
CONFIG_ENABLE_AI_COMPONENTS=y
CONFIG_ENABLE_LIBLVGL=y